
#include "resource.h"
#include "version.h"

LANGUAGE 9,1

MAIN_ICON ICON DISCARDABLE "main.ico"
LOGO_ICON ICON DISCARDABLE "opencl.ico"
OPEN_CL RCDATA DISCARDABLE "KGkernel.cl"

MAIN_DLG DIALOGEX 10,10,250,270
CAPTION "IDD_DLG"
FONT 8,"Lucida Sans Unicode",0,0,0
STYLE WS_VISIBLE|WS_CAPTION|WS_SYSMENU|WS_THICKFRAME|WS_MINIMIZEBOX|DS_CENTER
BEGIN
  CONTROL "Registration Name:",NAME_GRP,"Button",WS_CHILDWINDOW|WS_VISIBLE|BS_GROUPBOX,6,3,238,30
  CONTROL "Log:",LOG_GRP,"Button",WS_CHILDWINDOW|WS_VISIBLE|BS_GROUPBOX,6,56,238,209
  CONTROL "",LOG_RED,"RichEdit20A",WS_CHILDWINDOW|WS_VISIBLE|WS_VSCROLL|WS_TABSTOP|ES_READONLY|ES_AUTOVSCROLL|ES_MULTILINE,10,65,229,182,WS_EX_CLIENTEDGE|WS_EX_DLGMODALFRAME
  CONTROL "Stay on top",TOP_CHK,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,12,251,48,9
  CONTROL "Start",START_BTN,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,11,39,74,16
  CONTROL "Stop",STOP_BTN,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,166,39,74,16
  CONTROL "",NAME_EDT,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|ES_AUTOHSCROLL|ES_CENTER,12,14,226,12,WS_EX_CLIENTEDGE
  CONTROL "#101",LOGO_IMG,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_REALSIZEIMAGE|SS_ICON,212,251,39,18
  CONTROL "Pause",PAUSE_BTN,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,89,39,73,16
  CONTROL "GPU only",GPU_CHK,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,64,251,48,9
END

IDR_VERSION VERSIONINFO
FILEVERSION 1,0,0,0
PRODUCTVERSION 1,0,0,0
FILEOS 0x00000004
FILETYPE 0x00000000
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "FFFF0000"
    BEGIN
      VALUE "FileVersion", VERSION_STRING
      VALUE "ProductVersion", VERSION_STRING
      VALUE "CompanyName", COMPANY_NAME
      VALUE "FileDescription", DESCRIPTION
      VALUE "InternalName", INTERNAL_NAME
      VALUE "LegalCopyright", LEGAL_COPYRIGHT
      VALUE "OriginalFilename", ORIGINAL_FILE_NAME
      VALUE "ProductName", PRODUCT_NAME
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0xFFFF, 0x0000
  END
END

